.text {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    padding: 92px 50px 91px;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

.header__link_active,
.footer__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo-img {
    width: 148px;
    height: 105px;
    justify-self: center;
}

.address {
    max-width: 240px;
    justify-self: end;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-decoration: none;
}

.cover {
    height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 166px 50px 135px;
    gap: 20px;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    font-style: normal;
    line-height: 115%;
    align-self: start;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: flex;
    align-self: center;
    line-height: 100%;
}

.aligned-text_right {
    display: flex;
    align-self: end;
    line-height: 100%;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    padding: 0 50px 50px;
}

.cover__description-text {
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
}

.lots {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 30px;
    list-style: none;
}

.lots__card-list-item {
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.card__title {
    z-index: 1;
    color: #fff;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.card__text {
    color: #fff;
    z-index: 1;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    padding-left: 40px;
    font-size: 20px;
    line-height: 1.15;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 182px 50px 0;
}

.about__column {
    justify-self: center;
}

.about__logo {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000;
}

.about__logo-image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 148px;
}

.about__title {
    padding: 100px 0 100px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 27px;
}

.about__text:last-child {
    padding-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 182px 50px 90px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    text-align: center;
    gap: 33px;
    list-style: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
